<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.tapadoo.alerter_demo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements"/>

        <activity
            android:name="com.tapadoo.alerter_demo.DemoActivity"
            android:label="@string/title_activity_example"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:pathPrefix="/" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="apps.tapadoo.com" />

            </intent-filter>

            <meta-data
                android:name="default-url"
                android:value="https://apps.tapadoo.com" />

        </activity>

    </application>

</manifest>